In [ ]:
#variable is a container that stores data values
num1= 10

#Rules for naming variables
#start with alphate or underscore
_name= "John"
name = "Doe"
#3name = "Invalid"  # Invalid variable name

#first name = "Jane"  # Invalid variable name due to space
first_name = "Jane"  # Valid variable name using underscore

In [1]:
num1 = 20  # Reassigning variable
num2 = 30
print(num1)
print(num2)

20
30

In [2]:
num1, num2, num3 = 10, 20, 30
print(num1)
print(num2)
print(num3)

10
20
30

In [ ]:
srno , name , age , salary = 1 , "Alice" , 25 , 50000.50
print(srno)
print(name)
print(age)
print(salary)

In [4]:
count = True
countS = "True"
dta = False

In [7]:
#activity one
first_quarter_profit = 50000
second_quarter_profit = 75000
third_quarter_profit = 60000   
fourth_quarter_profit = 65000

tolal_annual_profit = (first_quarter_profit + second_quarter_profit + third_quarter_profit + fourth_quarter_profit)
print(tolal_annual_profit)

250000

In [ ]:
password = "Secure123"

if len(password) >= 8:
    print("Invalid password")

Invalid password

In [13]:
name = "Alice"
math_score = 85
science_score = 90

print(name, "scored " , math_score , " in Math and " , science_score , " in Science")

Alice scored  85  in Math and  90  in Science

In [14]:
notebook_price = 45
items_bought = 8
total_purchese_amount = notebook_price * items_bought
creadit = 500
balance = creadit - total_purchese_amount
print("Balance after purchase: ", balance)

Balance after purchase:  140

In [17]:
#Data Types
var1 = 10            # Integer
var2 = 15.5         # Float
var3 = "Hello"      # String
var4 = True         # Boolean
print(var1, "Type of " , type(var1))
print(var2, "Type of " ,type(var2))
print(var3, "Type of " ,type(var3))
print(var4, "Type of " ,type(var4))

10 Type of  <class 'int'>
15.5 Type of  <class 'float'>
Hello Type of  <class 'str'>
True Type of  <class 'bool'>

In [23]:
num1 = 10  
#num1 = 30

def display_number():
    num1 = 20  # Local variable
    print(num1)

def display():
    print(num1)  # Accessing global variable

display_number()  # Outputs: 20
print(num1)  # Outputs: 10
display()  # Outputs: 10

20
10
10