In [1]:
num1 = 100
num2 = 200

#Arethmeantic Operations
sum = num1 + num2
print("Sum is: ", sum)
diff = num2 - num1
print("Difference is: ", diff)
prod = num1 * num2
print("Product is: ", prod)
quotient = num2 / num1
print("Quotient is: ", quotient)
modulus = num2 % num1
print("Modulus is: ", modulus)

Sum is:  300
Difference is:  100
Product is:  20000
Quotient is:  2.0
Modulus is:  0

In [7]:
num3 = 500  #assingmnet operator
print(num3)

num3 += 300
print(num3)

#num3 = -200
num3 -= 200
print(num3)

num3 *= 2
print(num3)

num3 /= 4
print(num3)

num3 %= 3
print(num3)

500
800
600
1200
300.0
0.0

In [12]:
num4 = 500
num5 = 300

print(num4 == num5) #false
print(num4 != num5) #true
print(num4 > num5)  #true
print(num4 < num5)  #false
print(num4 >= num5) #true
print(num4 <= num5) #false

False
True
True
False
True
False

In [ ]:
#logical Operators
n1=100
n2=200

# 1 AND 1 = 1
# 1 and 0 = 0
#0 and 1 = 0
#0 and 0 = 0
print((n1 < n2) and (n1 == 100))
print((n1 < n2) and (n1 == 500))
print((n1>n2) and (n2==200))
print((n1>n2) and (n2==100))
print("-----------------------------------------")

# 1 OR 1 = 1
# 1 OR 0 = 1
#0 OR 1 = 1
#0 OR 0 = 0

print((n1 < n2) or (n1 == 100))
print((n1 < n2) or (n1 == 500))
print((n1>n2) or (n2==200))
print((n1>n2) or (n2==700))
print("-----------------------------------------")

#1 NOT = 0
#0 NOT = 1
print(n1>n2)
print(not(n1>n2))

print(n1<n2) #true
print(not(n1<n2))#false

True
False
False
False
-----------------------------------------
True
True
True
False
-----------------------------------------
False
True
True
False

In [ ]:
# 8 4  2  1  0
#0 = 0
#1 = 1
#2 = 10
#3 = 11
#4 = 100
#5 = 101

#bitwise Operators
# & (AND) 5 = 101 , 3 = 011  => 001 = 1
#1 and 1 = 1
#0 and 1 = 0
#1 and 0 = 0
#001 = 1

num1 = 6 # 110
num2 = 7 # 111    #110 = 6  #111 = 7 
print(num1 & num2)


# | (OR) 5 = 101 , 3 = 011  => 111 = 7
num3 = 10  #1010
num4 = 12 #1100   #1110
print(num3 | num4)

# ^ (XOR) 5 = 101 , 3 = 011  => 110 = 6
#<< (Left Shift)
#>> (Right Shift)

6
14

In [35]:
n1=10
n2=10
print(n1 is n2)
print(n1 is not n2)

True
False