In [ ]:
name = "Shyam"
names = ["Ram" , "Geeta" , "Seeta" , "Mohan"]
print(name)
print(names)

print(name[1])
print(names[1])


data = ["Ram" , 10 , True , 34.5 , "Kumar"]
print(data)

#Add the elements 
data.append("Nagpur")
print(data)

#add element as per user requirments
data.insert(1 , "Raj")
print(data)

Shyam
['Ram', 'Geeta', 'Seeta', 'Mohan']
h
Geeta
['Ram', 10, True, 34.5, 'Kumar']
['Ram', 10, True, 34.5, 'Kumar', 'Nagpur']
['Ram', 'Raj', 10, True, 34.5, 'Kumar', 'Nagpur']

In [ ]:
numbers = [10, 20 , 30, 20  ,40, 20 , 50]
#remove elements
#numbers.remove(20)
print(numbers)

#remove by index
numbers.pop(3)
print(numbers)

#Sequence - index
#allow duplicate
#Muatable (Change the list)

[10, 20, 30, 20, 40, 20, 50]
[10, 20, 30, 40, 20, 50]

In [18]:
#tuple
#Sequence - index
#allow duplicate

#not able to modify : unmutable

numbers = (10 , 20, 20 , 20 , 30 , 40 ,50)
print(numbers)
print(numbers[2])

#numbers.append(60)
#numbers.insert(1, 70)
#numbers.remove(30)

(10, 20, 20, 20, 30, 40, 50)
20

In [ ]:
#set
#does not follow the sequence
#does allow duplicate elements
#Allow to modified

fruits = {"Banana" , "apple" , "Mango","apple","Orange"}
print(fruits)
#print(fruits[1])
fruits.add("Graphes")
fruits.add("Gava")
print(fruits)

fruits.remove("apple")
print(fruits)

{'Banana', 'Mango', 'Orange', 'apple'}
{'Mango', 'Orange', 'Gava', 'Banana', 'Graphes', 'apple'}
{'Mango', 'Orange', 'Gava', 'Banana', 'Graphes'}

In [ ]:
#In for Tables - Structure
#name #age #city
#Key: Value
#name : Hrishikes
#Model : Tata NExon
#Price : 45000 #JSON 


car = {
    "Company" : "Tata",

    "Model": {
        "rooftype":{
            "roop": "Panaromic"
        },
        "engine":"Autom",
    },

    "colour":"Neavy Blue",
    "Typres" : {
            "allow": "Yes",
            "type" :"tubeless"
    }
}

print(car)
print(car["Model"])

{'Company': 'Tata', 'Model': 'Nexon', 'colour': 'Neavy Blue', 'Typres': 'MRF'}
Nexon

In [1]:
students = ["Alice", "Bob", "Charlie", "David", "Eve"]
students.reverse()
print(students)

['Eve', 'David', 'Charlie', 'Bob', 'Alice']

In [3]:
items = ["apple", "banana", "cherry", "date", "fig", "grape"]
print(items[2:5])

['cherry', 'date', 'fig']

In [7]:
ages = [23, 45, 18, 34, 60, 50, 27]

#sum_ages= ages[0]+ages[1]+ages[2]+ages[3]
sum_ages= sum(ages)
average = sum_ages/len(ages)
print(average)

36.714285714285715

In [10]:
workshop1 = {"Alice", "Bob", "Charlie", "David"}
workshop2 = {"Eve", "Bob", "Frank", "David"}


commom_attendance = workshop1 & workshop2
print(commom_attendance)

#all names
all_attendance = workshop1 | workshop2
print(all_attendance)

{'Bob', 'David'}
{'Alice', 'Eve', 'Frank', 'Bob', 'Charlie', 'David'}